{% extends 'base.html.twig' %}

{% block title %}Polydart{% endblock %}

{% block body %}




  <section>
    <div class="vague">
      <img src="#" class="vague_image" alt="vague" >


      <div class="container_home mt-5 mb-5">
        <div class="container_home_left1 col-4">
          <h1>lorem</h1>
          <p>Lorem ipsum Dolor sit amet, consectetur adipiscing elit. Praesent vel nisi non urna congue tempus ac id
            sapien. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque
            in enim eget enim consequat aliquam et sit amet sem. Quisque semper odio et eros consectetur gravida. Fusce
            faucibus libero accumsan tellus mattis, non fringilla augue egestas. Pellentesque imperdiet faucibus massa
            ut gravida. Maecenas elit purus, placerat id pharetra et, vulputate eu metus. Etiam dui risus, sollicitudin
            et ipsum et, venenatis maximus nisi. Sed imperdiet bibendum sollicitudin. </p>
        </div>
        <div class="container_home_right"><img src="{{ asset('images/products/caramel-fenettre.jpg') }}" style="border-radius: 3%;" alt="#"></div>
      </div>


  </section>

  <section class="backgroud_image">
    <div class="mt-5 mb-5 titre-h2">
      <h2 style="color: #FFA66F ;">Lorem ipsum dolor sit amet, consectetur adipis </h2>
    </div>
    <div class="container_home">
      <div class="container_home_left1 texte_blanc col-4">
        <h1 style="color: #FFA66F ;">lorem</h1>
        <p class="">Lorem     ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel nisi non urna congue tempus ac
          id sapien. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque
          in enim eget enim consequat aliquam et sit amet sem. Quisque semper odio et eros consectetur gravida. Fusce
          faucibus libero accumsan tellus mattis, non fringilla augue egestas. Pellentesque imperdiet faucibus massa ut
          gravida. Maecenas elit purus, placerat id pharetra et, vulputate eu metus. Etiam dui risus, sollicitudin et
          ipsum et, venenatis maximus nisi. Sed imperdiet bibendum sollicitudin.</p>
      </div>
      <div class="container_home_right photos"><img src="{{ asset('images/products/bois1.jpg') }}" style="border-radius: 3%;" alt="#">
      </div>
    </div>
  </section>


  <section>



    <div class="mt-5 mb-5 container_home">
      <div class="order_section container_home_left col-4">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel nisi non urna congue tempus ac id
          sapien. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque in
          enim eget enim consequat aliquam et sit amet sem. Quisque semper odio et eros </p>
      </div>
      <div class=" container_home_right"><img src="{{ asset('images/products/caramel-dodo.jpg') }}" style="border-radius: 3%;" alt="#"></div>
    </div>

    <div class="mt-5 mb-5 container_home">
      <div class="container_home_left1 col-4">
        <h1>lorem</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel nisi non urna congue tempus ac id
          sapien. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque in
          enim eget enim consequat aliquam et sit amet sem. Quisque semper odio et eros consectetur gravida. Fusce
          faucibus libero accumsan tellus mattis, non fringilla augue egestas. Pellentesque imperdiet faucibus massa ut
          gravida. Maecenas elit purus, placerat id pharetra et, vulputate eu metus. Etiam dui risus, sollicitudin et
          ipsum et, venenatis maximus nisi. Sed imperdiet bibendum sollicitudin.</p>
      </div>
      <div class="container_home_right"><img src="{{ asset('images/products/caramel4.jpg') }}" style="border-radius: 3%;" alt="#"></div>
    </div>





    <div class="mt-5 mb-5 container_home">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porttitor orci metus,
        a bibendum mauris dapibus ac. Mauris in porta purus. Integer et eros non quam varius
        tempor ut id ligula. Aenean id tincidunt diam. In diam dolor, rutrum at metus et, consectetur
        mattis urna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
        egestas. Aenean eu mauris vitae velit gravida bibendum at a nisl. Vestibulum viverra sagittis urna
        , eget euismod neque rhoncus egestas. Integer in metus elit. Donec non neque erat. Donec tincidunt
        ex nec quam mollis, ac pulvinar augue ullamcorper. Nulla vitae nulla semper,
        interdum massa sagittis, iaculis felis. Sed iaculis ligula vitae malesuada pharetra.</p>
    </div>


  </section>
{% endblock %}
