{% extends 'base.html.twig' %}

{% block title %}Polydart{% endblock %}

{% block body %}



<section>
    <div class="mt-5 mb-5 titre-h3">
        <h1>Polydart</h1>
    </div>

    <div class="container_home">
        <div class="container_home_left1 col-4">
            <p>Bienvenue sur mon site, venez découvrir mon univers fait de dessins, de sculptures... Enfin bref soyez <strong>curieux !</strong> </p>
        </div>
        <div class="container_home_right"><img src="{{ asset('images/products/caramel-fenettre.jpg') }}" style="border-radius: 3%;" alt="#">
        </div>
    </div>

</section>

<div class="container my-4">
    <br class="mt-5 mb-5">
    <hr class="mb-5 mt-5" />
    <br class="mt-5 mb-5">
</div>

{# <section>
    <div class="mt-5 mb-5 container_home">
        <p></p>
    </div>
</section> #}


  
{% endblock %}
