{% extends 'base.html.twig' %}

{% block title %}Hello ProduitsController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<section>
    <div class="mt-5 mb-5 titre-h3">
        <h2>Lorem ipsum dolor sit amet, consectetur adipis </h2>
    </div>
    <div class="mt-5 mb-5 container">
        <p style="text-align:center;">Lorem ipsum dolor sit amet, consectetur adipis
            Lorem ipsum dolor sit amet, consectetur adipis Lorem ipsum dolor sit amet,
            consectetur adipis Lorem ipsum dolor sit amet, consectetur adipis Lorem ipsum
            dolor sit amet, consectetur adipis Lorem ipsum dolor sit amet, consectetur
            adipis Lorem ipsum dolor sit amet, consectetur adipis Lorem ipsum dolor sit
            amet, consectetur adipis Lorem ipsum dolor sit amet, consectetur adipis Lorem
            ipsum dolor sit amet, consectetur adipis Lorem ipsum dolor sit amet, consectetur
            adipis Lorem ipsum dolor sit amet, consectetur adipis Lorem ipsum dolor sit amet,
            consectetur adipis Lorem ipsum dolor sit amet,
            consectetur adipis Lorem ipsum dolor sit amet, consectetur adipis </p>
    </div>


</section>

<section>
    <div class="mt-5 mb-5 titre-h3">
        <h2>Lorem ipsum dolor sit amet </h2>
    </div>

    <div class="container">
        <div class="container_grid wrapper-realisation aos-init aos-animate" data-aos="fade-up">
            <div class="box1"><img class="photos_chats" src="./src/img/photo_chat.jpg" alt=""><a
                    href="./produit.html"></a></div>
            <div class="box2"><img class="photos_chats" src="./src/img/photo_chat.jpg" alt=""><a
                    href="./produit.html"></a></div>
            <div class="box3"><img class="photos_chats" src="./src/img/photo_chat.jpg" alt=""><a
                    href="./produit.html"></a></div>
        </div>

        <div class="btn-acheter">
            <button type="button" class="btn mt-5 mb-5"><a href="./payement.html">Voir + </a></button>
        </div>
    </div>


</section>


<section>
    <div class="mt-5 mb-5 titre-h3">
        <h2>Lorem ipsum dolor sit amet </h2>
    </div>

    <div class="container">
        <div class="container1">
            <div class="chat1"><img class="photos_chats1" src="./src/img/photo_chat.jpg" alt=""><a
                    href="./produit.html"></a></div>
            <div class="chat2"><img class="photos_chats1" src="./src/img/photo_chat.jpg" alt=""><a
                    href="./produit.html"></a></div>
            <div class="chat3"><img class="photos_chats1" style="height: 100%;object-fit: cover;"
                    src="./src/img/photo_chat.jpg" alt=""></div>
            <div class="chat4"><img class="photos_chats1" src="./src/img/photo_chat.jpg" alt=""><a
                    href="./produit.html"></a></div>
            <div class="chat5"><img class="photos_chats1" src="./src/img/photo_chat.jpg" alt=""><a
                    href="./produit.html"></a></div>
        </div>

        <div class="btn-acheter">
            <button type="button" class="btn mt-5 mb-5"><a href="./payement.html">Voir + </a></button>
        </div>
    </div>
    </div>


</section>
<br>
<br>
<section>
    <div class="mt-5 mb-5 titre-h3">
        <h2>Lorem ipsum dolor sit amet </h2>
    </div>
    <div class="container">
        <div class="container2">
            <div class="all1"><img class="photos_chats1" src="./src/img/photo_chat.jpg" alt=""><a
                    href="./produit.html"></a></div>
            <div class="all2"><img class="photos_chats1" src="./src/img/photo_chat.jpg" alt=""><a
                    href="./produit.html"></a></div>
            <div class="all3"><img class="photos_chats1" src="./src/img/photo_chat.jpg" alt=""><a
                    href="./produit.html"></a></div>
            <div class="all4"><img class="photos_chats1" src="./src/img/photo_chat.jpg" alt=""><a
                    href="./produit.html"></a></div>
            <div class="all5"><img class="photos_chats1" src="./src/img/photo_chat.jpg" alt=""><a
                    href="./produit.html"></a></div>
            <div class="all6"><img class="photos_chats1" src="./src/img/photo_chat.jpg" alt=""><a
                    href="./produit.html"></a></div>
            <div class="all7"><img class="photos_chats1" src="./src/img/photo_chat.jpg" alt=""><a
                    href="./produit.html"></a></div>
            <div class="all8"><img class="photos_chats1" src="./src/img/photo_chat.jpg" alt=""><a
                    href="./produit.html"></a></div>
            <div class="all9"><img class="photos_chats1" src="./src/img/photo_chat.jpg" alt=""><a
                    href="./produit.html"></a></div>
            <div class="all10"><img class="photos_chats1" src="./src/img/photo_chat.jpg" alt=""><a
                    href="./produit.html"></a></div>
            <div class="all11"><img class="photos_chats1" src="./src/img/photo_chat.jpg" alt=""><a
                    href="./produit.html"></a></div>
            <div class="all12"><img class="photos_chats1" src="./src/img/photo_chat.jpg" alt=""><a
                    href="./produit.html"></a></div>
        </div>
        <div class="btn-acheter">
            <button type="button" class="btn mt-5 mb-5"><a href="./payement.html">Voir + </a></button>
        </div>
    </div>
</section>
<a id="button" href="#top" class="back_to_top"><img src="./src/img/arrow-up.svg" alt="fleche"></a>
{% endblock %}
