{% extends 'base.html.twig' %}

{% block title %}Hello PresentationController!{% endblock %}

{% block body %}


<section>
    <div class="mt-5 mb-5 titre-h3">
        <h2>Lorem ipsum dolor sit amet, consectetur adipis </h2>
    </div>

    <div class="container_home">
        <div class="container_home_left1 col-4">
            <h1>lorem</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porttitor orci metus,
                a bibendum mauris dapibus ac. Mauris in porta purus. Integer et eros non quam varius
                tempor ut id ligula. Aenean id tincidunt diam. In diam dolor, rutrum at metus et, consectetur
                mattis urna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
                egestas. Aenean eu mauris vitae velit gravida bibendum at a nisl.</p>
        </div>
        <div class="container_home_right"><img src="./src/img/photo_chat.jpg" style="border-radius: 3%;" alt="#">
        </div>
    </div>

</section>

<div class="container my-4">
    <br class="mt-5 mb-5">
    <hr class="mb-5 mt-5" />
    <br class="mt-5 mb-5">
</div>

<section>
    <div class="mt-5 mb-5 container_home">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porttitor orci metus,
            a bibendum mauris dapibus ac. Mauris in porta purus. Integer et eros non quam varius
            tempor ut id ligula. Aenean id tincidunt diam. In diam dolor, rutrum at metus et, consectetur
            mattis urna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
            egestas. Aenean eu mauris vitae velit gravida bibendum at a nisl. Vestibulum viverra sagittis urna
            , eget euismod neque rhoncus egestas. Integer in metus elit. Donec non neque erat. Donec tincidunt
            ex nec quam mollis, ac pulvinar augue ullamcorper. Nulla vitae nulla semper,
            interdum massa sagittis, iaculis felis. Sed iaculis ligula vitae malesuada pharetra.</p>
    </div>
</section>
{% endblock %}
