{% extends 'base.html.twig' %}

{% block title %}Présentation{% endblock %}

{% block body %}


<section>
    

      <div class="container_home mt-5 mb-5">
        <div class="container_home_left1 col-4">
          <h1>Clara</h1>
          <p>Diplômer en art plastique licence styliste à l'Institut Saint-Luc Tournai en Belgique. Mon chemin
            à toujours été dans la création. Que ce soit dans l'objet ou dans le dessin et voir aussi en tant que fleuriste.</p>
        </div>
        <div class="container_home_right"><img src="{{ asset('images/products/caramel-fenettre.jpg') }}" style="border-radius: 3%;" alt="#"></div>
      </div>


  </section>

  <section class="backgroud_image">
    <div class="mt-5 mb-5 titre-h2">
      <h1 style="color: #FFA66F ;">Mes oeuvres </h1>
    </div>
    <div class="container_home">
      <div class="container_home_left1 texte_blanc col-4">
        <h1 style="color: #FFA66F ;">Sculpture</h1>
        <p class="">Parce que toutes les matières sont importantes et que la planète doit être protégée, j'ai décidée de fabriquer des sculptures avec des matériaux recyclé, 
            variant matière fabriquée (bois) et bloc cellulaire... La nature aura toujours une grande importance dans mon travail. Si l'on regarde le monde, mais aussi les mondes
             anciens, on se rend compte que c'est toujours la nature qui a le dernier mot ! 
        </p>
      </div>
      <div class="container_home_right photos"><img src="{{ asset('images/products/bois1.jpg') }}" style="border-radius: 3%;" alt="#">
      </div>
    </div>
  </section>


  <section>



    <div class="mt-5 mb-5 container_home">
      <div class="order_section container_home_left col-4">
        <p>Mon but est de montrer à tout le monde mes réalisations, ainsi de pouvoir montrer ce que je suis capable de créer. Que cela fait partie de ma vie,
            que je suis une touche-à-tout, pour moi la création est partout.</p>
      </div>
      <div class=" container_home_right"><img src="{{ asset('images/products/caramel-dodo.jpg') }}" style="border-radius: 3%;" alt="#"></div>
    </div>

    <div class="mt-5 mb-5 container_home">
      <div class="container_home_left1 col-4">
        <h1>Caramel</h1>
        <p>Caramel est un chaton tout toux qui vie pleins d'aventures. Simple et ludique, l'enfant de 3/4 ans peut facilement s'identifier lors 
        de ces petites histoires à raconter à son enfant le soir. De plus Caramel grandi avec lui et l'acompagne jusqu'à son apprentissage de la lecture.</p>
      </div>
      <div class="container_home_right"><img src="{{ asset('images/products/caramel4.jpg') }}" style="border-radius: 3%;" alt="#"></div>
    </div>





    {# <div class="mt-5 mb-5 container_home">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In porttitor orci metus,
        a bibendum mauris dapibus ac. Mauris in porta purus. Integer et eros non quam varius
        tempor ut id ligula. Aenean id tincidunt diam. In diam dolor, rutrum at metus et, consectetur
        mattis urna. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis
        egestas. Aenean eu mauris vitae velit gravida bibendum at a nisl. Vestibulum viverra sagittis urna
        , eget euismod neque rhoncus egestas. Integer in metus elit. Donec non neque erat. Donec tincidunt
        ex nec quam mollis, ac pulvinar augue ullamcorper. Nulla vitae nulla semper,
        interdum massa sagittis, iaculis felis. Sed iaculis ligula vitae malesuada pharetra.</p>
    </div> #}


  </section>
{% endblock %}
