{% extends 'base.html.twig' %}

{% block title %}404{% endblock %}

{% block body %}

<section>
    <div class="mt-5 mb-5 titre-h3">
      <h2>Erorr 404</h2>
    </div>
  </section>

  <div class="row col-4 mx-auto text-center mt-5 texte-title-404">
    <p>Ah ! Une erreur est survenue :/</p>
  </div>

  <div class="row col-6 my-5 mx-auto form-group-404 ">
    <input placeholder="Recherchez une page..." type="text" class="form-control " id="exampleFormControlInput1">
  </div>
  {% endblock %}